<!DOCTYPE html>
<html class="fullpage">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Auto Insurance</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-13 col-sm-12 col-xs-12">
					<img src="images/telematics-car-insurance.png" style="padding-left:50px;padding-bottom:0px;margin-bottom:0px;width:350px;height:150px">
					<hr style="padding-top:0px;margin-top:0px;">
					<form class="form-horizontal">
						<div class="form-group">
							<div style="padding-left:60px;margin-top:10px;">
								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail3" placeholder="Email Address">
								</div>
							</div>
						</div>
						<div style="padding-left:60px">
							<div class="form-group">
								<div class="col-sm-10">
									<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
								</div>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default btn-primary button_signin">Sign in</button>
						</div>
						<hr style="padding-top:0px;margin-top:0px;">
						<div class="form-group">
							<a style="padding-left:40px;" href="/">Home</a>
							<a style="padding-left:240px;" href="/signup">Register Now</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>