<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Auto Insurance</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styleSignup.css">
		<link rel="stylesheet" href="css/red.css"/>
		
	</head>
	<body>
		<header id="header" class="navbar-fixed-top navbar-inverse video-menu" role="banner">
    		<div class="container">
                <div class="navbar-header ">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="bs-LI-navbar-collapse-1">
                   		<<label style="color:white;"><h3>Auto Insurance Using Telemetics</h3></label>
                   	</div>
                </div><!--Navbar header End-->
            </div><!-- /.container-fluid -->
		</header>
		<div style="margin-top:140px;margin-bottom:130px;">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="images/telematicscarinsurance.png" style="width:500px;">
				</div>
				<div class="col-md-6">
					<h3 style="color:black;"><strong>Register for Free</strong></h3>
					<input type="text" class="form-control" id="InputFirstName" placeholder="First Name" required >
					<input type="text" class="form-control" id="InputLastName" placeholder="Last Name" required>
					<input type="email" class="form-control" id="InputEmail" placeholder="Email address" required >
					<input type="password" class="form-control" id="InputPassword" placeholder="Password (6 or more characters)" required>
					<input type="text" class="form-control" id="InputCompany" placeholder="Company Name" required>
					<button type="submit" class="btn btn-primary"><strong>Join Now</strong></button>
				</div>
			</div>
		</div>
		</div>
	<section id="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h3 class="menu_head">Main Menu</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/">Service</a></li>
                            <li><a href="/">Blog</a></li>
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="menu_head">Useful Links</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Frequently Asked Questions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="menu_head">Contact us</h3>
                    <div class="footer_menu_contact">
                        <ul>
                            <li> <i class="fa fa-home"></i>
                                <span> 1 Washington Sq, San Jose, CA 95192 </span></li>
                            <li><i class="fa fa-phone"></i>
                                <span> 6694218165</span></li>
                            <li><i class="fa fa-map-marker"></i>
                            <span> kruthi.venkatesh@sjsu.edu</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
	<!-- End of Footer -->
		<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-hover-dropdown.min.js"></script>
	</body>
</html>