/* Footer Area
==========================================*/
#footer{}
.footer_top{
    overflow: hidden;
    padding: 30px 0px 50px;
    border-bottom: 1px solid #0F0F0F;
    background: none repeat scroll 0% 0% #333;
    color: #AAA;
}
.footer_b{
    background: #222; 
    border-top: 1px solid #555;
}
.footer_menu li a:before{
    display: inline-block;
    margin-right: 8px;
    color: #5B5B5B;
    content: "";
    font-family: FontAwesome;
}
.menu_head{
    color: #C5C5C2!important;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0px 35px 0px;
}
.menu_head:after{
    position: absolute;
    left: 18px;
    width: 55px;
    height: 1px;
    content: "";
    top: 49px;
}
.menu_head:before{
    position: absolute;
    left: 32px;
    width: 24px;
    height: 5px;
    content: "";
    display: inline-block;
    top: 47px;
}

.footer_mid ul li{
    margin-top: 20px;
}
.footer_menu ul li a{
    text-decoration: none;
    color: #9E9E9E;
    display: inline-block;
    padding: 5px 0px;
}
.footer_menu_contact ul li {
    padding: 5px 0px;
}
.footer_menu_contact li i{
    width: 20px;
}
.footer_menu_contact li span:hover {
    cursor:pointer;
}

.tags a{
    display: block;
    float: left;
    margin: 3px;
    padding: 8px 10px;
    background: none repeat scroll 0% 0% #2C2C2C;
    color: #C4C4C4;
    font-size: 14px;
    text-decoration: none;
}
.tags a:hover{
    color: #fff;
}
.footer_social {
    padding: 20px 0px;
}
.footer_social i {
    width: 50px;
    height: 50px;
    padding: 14px;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.footer_bottom {
}
.footer_bottom p {
    font-size: 18px;
    color: #C4C4C4;
    margin: 25px 0px;
}

/* Back To Top Button 
======================================*/
.btn{
	margin-top: 25px;
	width: 350px;
	height: 50px;
}

.form-control{
	margin-top: 25px;
	width:350px;
}

.navbar-default{
	height: 100px;
}